*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #e1e3e5;
    font-family: poppins;
}
:root{
    --primary-color: #5fbaa7;
}
@font-face {
    font-family: poppins;
    src: url(/Portfolio/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: opensans;
    src: url(/Portfolio/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
body{
    background-color: #111111;
   
}

.flex{
    display: flex;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-dir-column{
    flex-direction: column;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-justify-center{
    display: flex;
    justify-content: center;
}

a{
    color: #fff;
    text-decoration: none;

}

.top-info{
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;

}
.star{
    color: yellow;
}
.link-btn{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 7px;
    background-color: #202020;
}
.page{
    width: 100%;
    height: 100vh;
}

.screen{
    width: 60%;
    height: 100vh;
    padding: 15px 0px 15px 0px;
    gap: 1.20rem;
    display: flex;
    flex-direction: column;
}
.profile-pic img{
    border-radius: 5px;
    height: 130px;
    width: 130px;
    margin-right: 12px;
}
.info-box{
    flex-direction: column;
    align-items: baseline;
}
.name{
    font-weight: 900;
    font-size: 40px;
}
.font-size{
    font-size: 15px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.code-icon{
    background-color: #2e2e2e;
}